/alire/
/regtests/alire/
/examples/alire/
*~
*.log
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
autom4te.cache
*.txt
bin/
lib/
obj/
samples.gpr
regtests/results
secret-aunit.xml
secret-tests.xml
